body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  }
.cardWrapper > div > img {
  height: 400px;
  width: 280px;
  box-shadow: 10px 10px 64px -7px rgba(0,0,0,0.75);
  margin-left: 100px;
  margin-bottom: 50px;
}

.scoreBoard {
  text-align: center;
  font-size: 30px;
}